<article  class="article" itemscope itemprop="blogPost">
  <% for(var a in mfac.applicationList) {
    var app = mfac.applicationList[a];
    %>
  <div class="article-inner">
    <% if (app.name) { %>
      <header class="article-header">
        <h1><a href="#" class="article-title"><%- app.name %></a></h1>
      </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (app.infoPage.preview && app.infoPage.preview.imageUrl) { %>
        <img src="<%- app.infoPage.preview.imageUrl %>" style="width:150px; height: 150px"></p>
     <% } %>
      <% if (app.infoPage.preview && app.infoPage.preview.content) { %>
        <p><%- app.infoPage.preview.content %></p>
     <% } %>
          <p class="article-more-link">
            <a href="#">Read More</a>
          </p>
    </div>
    <footer class="article-footer">
      <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><%= __('share') %></a>
    </footer>
  </div>
  	<% } %>
</article>
