<div class="container">
    <div class="well well-sm">
        <strong>App's preview</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>
    <div id="products" class="row list-group">
      <% for(var a in mfac.applicationList) {
        var app = mfac.applicationList[a];
        %>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <% if (app.infoPage.preview && app.infoPage.preview.imageUrl) { %>
                <img class="group list-group-image" src="<%- app.icon %>" alt="" />
                <% } else { %>
                     <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <% } %>
                <div class="caption">
                  <% if (app.name) { %>
                    <h4 class="group inner list-group-item-heading">
                        <%- app.name %></h4>
                  <% } %>
                  <% if(app.infoPage.preview && app.infoPage.preview.content) { %>
                    <p class="group inner list-group-item-text"><%- app.infoPage.preview.content %></p>
                    <% } else { %>
                      <p class="group inner list-group-item-text">This app does no have preview content defined.</p>
                    <% } %>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="<%-config.root %>/applications/<%- app.name.toLowerCase().replace(/\s+/g, '-') + '.html' %>">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        	<% } %>
    </div>
</div>
